<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amrak.gradebook"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name="com.amrak.gradebook.activity.Settings"
            android:label="@string/title_activity_settings" >
            <intent-filter>
                <action android:name="com.amrak.gradebook.activity.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amrak.gradebook.activity.Terms"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amrak.gradebook.activity.Courses"
            android:label="@string/titleCourses" >
            <intent-filter>
                <action android:name="com.amrak.gradebook.activity.COURSES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activityandroid:name="com.amrak.gradebook.activity.Categories"
            android:label="Categories" >
            <intent-filter>
                <action android:name="com.amrak.gradebook.activity.CATEGORIES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amrak.gradebook.activity.Evaluations"
            android:label="@string/titleEvaluations" >
            <intent-filter>
                <action android:name="com.amrak.gradebook.activity.EVALUATIONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amrak.gradebook.activity.AddTerm"
            android:label="@string/title_activity_add_term" 
            android:windowSoftInputMode="stateVisible|adjustResize"
            >
            <intent-filter>
                <action android:name="com.amrak.gradebook.activity.ADDTERM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amrak.gradebook.activity.AddCourse"
            android:label="@string/title_activity_add_course"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <intent-filter>
                <action android:name="com.amrak.gradebook.activity.ADDCOURSE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amrak.gradebook.activity.AddCategory"
            android:label="@string/title_activity_add_category"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <intent-filter>
                <action android:name="com.amrak.gradebook.activity.ADDCAT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amrak.gradebook.activity.AddEval"
            android:label="@string/title_activity_add_evaluation"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <intent-filter>
                <action android:name="com.amrak.gradebook.activity.ADDEVAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
        android:name="com.amrak.gradebook.activity.TaskList"
            android:label="@string/title_activity_task_list" >
            <intent-filter>
                <action android:name="com.amrak.gradebook.activity.TASKLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amrak.gradebook.activity.AddTask"
            android:label="@string/title_activity_add_task"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <intent-filter>
                <action android:name="com.amrak.gradebook.activity.ADDTASK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>