<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amrak.gradebook"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Cover"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.amrak.gradebook.COVER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Detail"
            android:label="@string/title_activity_detail" >
            <intent-filter>
                <action android:name="android.intent.action.DETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Courses"
            android:label="@string/title_activity_courses" >
            <intent-filter>
                <action android:name="com.amrak.gradebook.COURSES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Evaluations"
            android:label="@string/title_activity_evaluations" >
            <intent-filter>
                <action android:name="com.amrak.gradebook.EVALUATIONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
            <intent-filter>
                <action android:name="com.amrak.gradebook.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddCourse"
            android:label="@string/title_activity_add_course" >
            <intent-filter>
                <action android:name="com.amrak.gradebook.ADDCOURSE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddEval"
            android:label="@string/title_activity_add_eval" >
            <intent-filter>
                <action android:name="com.amrak.gradebook.ADDEVAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>