<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.projectkarma.gradetrackr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name="ca.projectkarma.gradetrackr.activity.Settings"
            android:label="@string/title_activity_settings" >
            <intent-filter>
                <action android:name="ca.projectkarma.gradetrackr.activity.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.projectkarma.gradetrackr.activity.Terms"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.projectkarma.gradetrackr.activity.Courses"
            android:label="@string/titleCourses" >
            <intent-filter>
                <action android:name="ca.projectkarma.gradetrackr.activity.COURSES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.projectkarma.gradetrackr.activity.Categories"
            android:label="Categories" >
            <intent-filter>
                <action android:name="ca.projectkarma.gradetrackr.activity.CATEGORIES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.projectkarma.gradetrackr.activity.Evaluations"
            android:label="@string/titleEvaluations" >
            <intent-filter>
                <action android:name="ca.projectkarma.gradetrackr.activity.EVALUATIONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.projectkarma.gradetrackr.activity.AddTerm"
            android:label="@string/title_activity_add_term"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <intent-filter>
                <action android:name="ca.projectkarma.gradetrackr.activity.ADDTERM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.projectkarma.gradetrackr.activity.AddCourse"
            android:label="@string/title_activity_add_course"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <intent-filter>
                <action android:name="ca.projectkarma.gradetrackr.activity.ADDCOURSE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.projectkarma.gradetrackr.activity.AddCategory"
            android:label="@string/title_activity_add_category"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <intent-filter>
                <action android:name="ca.projectkarma.gradetrackr.activity.ADDCAT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.projectkarma.gradetrackr.activity.AddEval"
            android:label="@string/title_activity_add_evaluation"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <intent-filter>
                <action android:name="ca.projectkarma.gradetrackr.activity.ADDEVAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.projectkarma.gradetrackr.activity.TaskList"
            android:label="@string/title_activity_task_list" >
            <intent-filter>
                <action android:name="ca.projectkarma.gradetrackr.activity.TASKLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.projectkarma.gradetrackr.activity.AddTask"
            android:label="@string/title_activity_add_task"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <intent-filter>
                <action android:name="ca.projectkarma.gradetrackr.activity.ADDTASK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="ca.projectkarma.gradetrackr.CustomSuggestionProvider"
            android:authorities="ca.projectkarma.gradetrackr.CustomSuggestionProvider"
            android:enabled="true"
            android:exported="false" >
        </provider>

        <activity
            android:name="ca.projectkarma.gradetrackr.activity.Search"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>